version: 2
jobs:
  build:
    docker:
      # First image listed on config.yml will be the "primary" image. Any build commands run in this container.
      - image: wordpress:4.9.1-php5.6-apache
        environment:
          WORDPRESS_DB_HOST: localhost
          WORDPRESS_DB_NAME: wordpress
          WORDPRESS_DB_USER: root
          WORDPRESS_DB_PWD: secretpwd

      # Second image listed here is the secondary container which runs in the same network of the primary container (they can connect as localhost)
      - image: mysql:5.6
        command: [mysqld]
        environment:
          MYSQL_ROOT_PASSWORD: secretpwd

    steps:
      - checkout
      - run:
          name: Update Packages
          command: 'apt-get update'
      - run:
          name: Install MySQL Client
          command: 'apt-get install -y mysql-client'
      - run:
          name: Check that Wordpress was installed
          command: 'sleep 60 && mysql -uroot -hlocalhost -psecretpwd -Dwordpress -e "SHOW TABLES"'
