version: 2

jobs:
  # This section is used to build the new Docker image to be used later
  build-image:
    machine: true
    working_directory: /tmp/code

    steps:
      # Checkout code
      - checkout

      - run:
          name: Build and Push to Docker Hub
          command: |
            /bin/bash .circleci/docker-build.sh

  # This section is to test that the new image really works as expected
  test-image:
    docker:
      # First image listed on config.yml is the "primary" image. Every build commands will be executed by CircleCi inside of this container.
      - image: leoblanc/wordpress:v${CIRCLE_WORKFLOW_ID}
        auth:
          username: ${DOCKER_USER}
          password: ${DOCKER_PASS}
        environment:
          - WORDPRESS_DB_HOST=127.0.0.1
          - WORDPRESS_DB_NAME=wordpress
          - WORDPRESS_DB_USER=root
          - WORDPRESS_DB_PASSWORD=secretpwd

      # Thist second image is a "secondary" container which runs in the same network space of the primary container (they can communicate via "localhost")
      - image: mysql:5.6
        environment:
          - MYSQL_ROOT_PASSWORD=secretpwd

    steps:
      - checkout
      - run:
          name: Update Packages on the primary container
          command: 'apt-get update'
      - run:
          name: Install MySQL Client on the primary container
          command: 'apt-get install -y mysql-client'
      - run:
          name: Create Wordpress database on the MySQL container after server startup
          command: 'sleep 10 && mysql -uroot -psecretpwd -h127.0.0.1 -e "CREATE DATABASE wordpress charset utf8"'
      - run:
          name: Ensure that Apache starts on foreground (this script is used by docker-entrypoint.sh)
          command: 'sed -i "s,-DFOREGROUND,,g" /usr/local/bin/apache2-foreground'
      - run:
          name: Install wp-cli on the main container
          command: 'apt-get -y install wget && wget https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar -O /usr/bin/wp-cli && chmod +x /usr/bin/wp-cli'
      - run:
          name: Deploy Wordpress files (including wp-config.php, database information is read from provided environment variables)
          command: '/usr/local/bin/docker-entrypoint.sh apache2-foreground'
      - run:
          name: Install Wordpress tables automatically using wp-cli
          command: 'wp-cli core install --debug --allow-root --path=/root/project --url="http://localhost" --title="Wordpress" --admin_user=admin --admin_password="${WORDPRESS_DB_PASSWORD}" --admin_email="test@example.net"'
      - run:
          name: Check that Wordpress was installed (tables should exists on the new database)
          command: 'mysql -u"${WORDPRESS_DB_USER}" -h"${WORDPRESS_DB_HOST}" -p"${WORDPRESS_DB_PASSWORD}" -D"${WORDPRESS_DB_NAME}" -e "SELECT * FROM wp_options"'
      - run:
          name: Check that Wordpress website is reacheable using InSpec
          command: 'inspec exec /tests/wordpress-online.rb'

workflows:
  version: 2
  build-and-test:
    jobs:
      - build-image
      - test-image:
          requires:
            - build-image
